<section class="row">
    <div class="col-sm-12 col-xs-12 text-right">
        <button class="btn btn-default">SUBMIT</button>
    </div>
    <div class="col-sm-12 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h2>Edit Login Information</h2>
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input" checked>
                            <span class="mdl-checkbox__label">Subscribe for Push Notifications</span>
                        </label>
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h3>Personal Info</h3>
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        Email:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">

                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        Date of Birth:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">

                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        Personal Info:
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        Current User Name:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">

                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        New User Name:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">

                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h3>Password Info</h3>
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        Current Password:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">
                        <input type="password" class="writeToUs_TextField" />
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        New Password:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">
                        <input type="password" class="writeToUs_TextField" />
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        Confirm Password:
                    </div><!--End of ./col-->
                    <div class="col-sm-9 col-xs-12">
                        <input type="password" class="writeToUs_TextField" placeholder=""/>
                    </div><!--End of ./col-->
                </div><!--End of ./row-->
            </li>
        </ul>
    </div>

</section><!--Header Section-->
