<section class="row">
    <div class="col-sm-12 col-xs-12 text-center">
        <h4>View Profile</h4>
    </div>
</section><!--Header Section-->

<section style="margin:3px;">
    <div class="row">
        <div class="col-xs-offset-5 col-sm-offset-8 col-xs-7 col-sm-4">
            <md-select ng-model="child" style="margin-bottom:2px;margin-top:-3px;">
                <md-option>
                    Select Child Reference
                </md-option>
                <md-option>
                    Child 1
                </md-option>
                <md-option>
                    Child 2
                </md-option>
                <md-option>
                    Child 3
                </md-option>
            </md-select>
        </div>
    </div><!--End of child Reference-->
    <p>Student profile is read only,If you want to update please tap here to visit http://mygiis.org</p>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Student Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">
                    Yogesh Paisode
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Student Class:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Date of Birth:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Student Local Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Birth Certificate:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Passport Details</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Nationality:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Issue Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Expiry Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Country of Issue:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Immigration Detail:</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration ID Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Student Immigration Type:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration Status Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    Parent Information:
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    First Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Last Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Marital Status:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration ID Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Nationality:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Issue Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Expiry Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Country of Issue:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Attach Passport Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Occupation:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Address:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Mobile:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Telephone Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Office Tel:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Email:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Highest Education:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Mother Information</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    First Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Last Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Marital Status:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration ID Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Nationality:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Issue Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Expiry Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Country of Issue:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Attach Passport Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Occupation:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Address:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Mobile:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Telephone Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Office Tel:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Email:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Select Priority:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">
                    <md-radio-group ng-model="data.group1" class="row">
                        <div class="col-sm-4 col-xs-6">
                            <md-radio-button value="mother" class="md-primary">Mother</md-radio-button>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <md-radio-button value="father">Father</md-radio-button>
                        </div>
                    </md-radio-group>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Guardian Information</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    First Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Last Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Marital Status:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration ID Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Nationality:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Issue Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Expiry Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Passport Country of Issue:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Attach Passport Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Occupation:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Address:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Mobile:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Telephone Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Office Tel:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Email:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4>Emergency Contact Information</h4>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Contact Person Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Relationship with Child:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration ID Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Telephone Number:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Immigration Document:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Emergency Contact Address</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="residentialAddress" checked>
                        <span class="mdl-radio__label">Rented</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="residentialAddress">
                        <span class="mdl-radio__label">Own</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" class="mdl-radio__button" name="residentialAddress">
                        <span class="mdl-radio__label">Company Provided</span>
                    </label>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Block No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Apartment/Condo Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Postal Code/Zip:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Street Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Unit Flat No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4><b>Note: </b>Below in the Changed Home Address</h4>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Changed BHome Address</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Block No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Apartment/Condo Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Postal Code/Zip:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Street Name:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Unit Flat No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    New Address Effictive Date:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4><b>Note: </b>Current home address will be changed from the effective date</h4>
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Home country address (For international Students)</h3>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Address 1:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Address 2:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    City:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    State:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Country:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Zip:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Contact No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Next of Kin Contact No:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Nmae of Contact Person:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    Email Address of Conatct Person:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-12">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p><b>Note:</b> Home Country Address is mandatory only when Student Residential Status is selected as Student Pass</p>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4>Authorization For Pickup by Individuals/School Bus</h4>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p><b>Note:</b> Below details shown whether your child is taking bus or is being picked up by an authorized individual</p>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4>Pick Up/Drop Off is by: School bus</h4>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
    </ul>
</section>
