body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.templateContainer {
    margin: 5px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

button, textarea {
    outline: none;
}

.md-sidenav-left, md-sidenav {
    top: 56px;
    border-top-right-radius: 7px;
    position: fixed;
}

md-backdrop {
    position: fixed;
    top: 56px;
}

.headerMenuButton {
    background-color: rgb(63,81,181);
    margin-left: 1px;
}

button, input, button::selection, button:hover {
    outline: none;
}

.panel {
    overflow: hidden;
}

.panel_LeftMenuIcon {
    background-color: red;
}

.panelItem {
    position: absolute;
    overflow: scroll;
    top: 1px;
    margin-left: 12px;
}

.panel_LeftMenuIcon_Button {
    background-color: transparent;
    border-style: none;
}

.panelLink {
    outline: none;
}

a:focus, a:hover {
    text-decoration: none;
}

/*--Write To Us View--*/
.writeToUs_TextField {
    width: 100%;
    border-style: none;
}

.circularProgressBar {
    position: absolute;
    top: 40%;
    left: 50%;
}
