<section class="templateContainer">

    <div>
        <h4>Your child's Achievements</h4>
        <hr />
    </div><!--end of heading-->

    <div class="text-right">
        <button class="btn btn-default" ng-click="changeState();">Post Your Child's Achievements</button>
    </div><!--End of Button-->

    <div>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Achievement</th>
                    <th>Status</th>
                    <th>Approved Date</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Won math puzzel <br />20 May 2016</td>
                    <td>Approved</td>
                    <td>30 May 2016</td>
                </tr>
                <tr>
                    <td>Won math puzzel <br />20 May 2016</td>
                    <td>Approved</td>
                    <td>30 May 2016</td>
                </tr>
                <tr>
                    <td>Won math puzzel <br />20 May 2016</td>
                    <td>Approved</td>
                    <td>30 May 2016</td>
                </tr>
            </tbody>

        </table>
    </div><!--Achievements List-->

</section>