<section class="row">

    <div class="col-sm-2 col-xs-2">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">clear</i>
        </button>
    </div>

    <div class="col-sm-8 col-xs-6 text-center">
        <h4>Email Staff</h4>
    </div>

    <div class="col-sm-2 col-xs-4 text-right">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="openFile();">
            <i class="material-icons">attach_file</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">send</i>
        </button>
        &nbsp;
    </div>

</section><!--Header Section-->

<section style="margin:3px;">
    <div class="row">
        <div class="col-xs-offset-5 col-sm-offset-8 col-xs-7 col-sm-4">
            <md-select ng-model="child" style="margin-bottom:2px;margin-top:-3px;">
                <md-option>
                    Select Child Reference
                </md-option>
                <md-option>
                    Child 1
                </md-option>
                <md-option>
                    Child 2
                </md-option>
                <md-option>
                    Child 3
                </md-option>
            </md-select>
        </div>
    </div><!--End of child Reference-->
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    To:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField" />
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Cc:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField" />
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Subject:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField" />
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 col-xs-5">
                    Child Reference:
                </div><!--End of ./col-->
                <div class="col-sm-9 col-xs-7">
                    {{child}}
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Attachment:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">

                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    Reply:
                </div><!--End of ./col-->
                <div class="col-sm-12 col-xs-12">
                    <textarea class="writeToUs_TextField" rows="5"></textarea>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>
    </ul>
</section>

<section class="row" style="margin:1px;">
    <div class="col-xs-12 col-sm-6">
        <md-checkbox>
            Request a Read Receipt for this Message
        </md-checkbox>
    </div>
    <div class="col-xs-12 col-sm-6">
        <md-checkbox>
            Save Outgoing Mail
        </md-checkbox>
    </div>
</section>

<input type="file" id="forwardAttachedFile" style="display:none">