<section class="row">

    <div class="col-sm-2 col-xs-2">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">clear</i>
        </button>
    </div>

    <div class="col-sm-8 col-xs-7 text-center">
        <h4>Replay Mail</h4>
    </div>

    <div class="col-sm-1 col-xs-1">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="openFile();">
            <i class="material-icons">attach_file</i>
        </button>
    </div>

    <div class="col-sm-1 col-xs-2">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">send</i>
        </button>
    </div>

</section><!--Header Section-->

<section style="margin:3px;">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    To:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField"/>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Cc:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField" />
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Subject:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="writeToUs_TextField" />
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    Attachment:
                </div><!--End of ./col-->
                <div class="col-sm-11 col-xs-10">
                    
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    Reply:
                </div><!--End of ./col-->
                <div class="col-sm-12 col-xs-12">
                    <textarea class="writeToUs_TextField" rows="5"></textarea>
                </div><!--End of ./col-->
            </div><!--End of ./row-->
        </li>

        <li class="list-group-item">
           <article>
               <b>
                   Dear Esther Simon.<br /><br />
                   This is to inform you that Dummy Student is transferred from ICCSE 8A to IGCSE 8z.<br /><br />
                   Please do not reply us,as this is automatic email.<br /><br />
                   Regards,<br />
                   Global School International School
               </b>
           </article>
        </li>
    </ul>
</section>


<input type="file" id="replyAttachedFile" style="display:none">