<div>
    <h3><i class="fa fa-graduation-cap"></i> ACADEMICS</h3>
    <hr />
</div>
<div>
    <p><b>Assignments</b></p>
    <a href="" class="panelLink">1. List of Assignments</a>
    <br />
    <hr />
    <p><b>Homework</b></p>
    <a href="" class="panelLink">1. List of Homework</a>
    <br />
    <hr />
    <p><b>Syllabus</b></p>
    <a href="" class="panelLink">1. List of Syllabus</a>
    <br />
    <hr />
    <p><b>Worksheets</b></p>
    <a href="" class="panelLink">1. List of Worksheets</a>
    <br />
    <hr />
    <p><b>Exam and Result</b></p>
    <a href="" class="panelLink">1. List of Results</a>
    <hr />
</div>

