<div>
    <h3><i class="fa fa-university"></i> SCHOOL</h3>
    <hr />
</div>
<div>
    <p><b>Announcement</b></p>
    <a href="" class="panelLink">1. Announcement</a>
    <br />
    <hr />
    <p><b>Fees History</b></p>
    <a href="" class="panelLink">1. Outstanding Fees</a>
    <br />
    <a href="" class="panelLink">2. Fees Payment History</a>
    <br />
    <hr />
    <p><b>School Bus</b></p>
    <a href="" class="panelLink">1. Bus Details</a>
    <br />
    <hr />
    <p><b>Time Table</b></p>
    <a href="" class="panelLink">1. View Time Table</a>
    <br />
    <hr />
    <p><b>Directory</b></p>
    <a href="" class="panelLink">1. GIIS Directory</a>
    <br />
    <hr />
</div>

