<div>
    <h3><i class="fa fa-envelope"></i> WRITE TO US</h3>
    <hr />
</div>
<div>
    <p><b>Inbox</b></p>
    <a href="#home/inboxParentList" class="panelLink">1. Inbox(Parent)</a>
    <br />
    <a href="#home/inboxChildList" class="panelLink">2. Inbox(Child)</a>
    <br />
    <a href="#home/sentMailList" class="panelLink">3. Sent Mails</a>
    <br />
    <a href="#home/writeToTeacher" class="panelLink">4. Email Teacher</a>
    <br />
    <a href="#home/emailStaff" class="panelLink">5. Email Staff</a>
    <br />
    <a href="#home/emailAdmin" class="panelLink">6. Email Admin</a>
    <br />
    <hr />

    <p><b>Achievements</b></p>
    <a href="#home/childsAchievementList" class="panelLink">1. View/Post Achievements</a>
    <br />
    <hr />
    <p><b>Compliments</b></p>
    <a href="#home/postCompliment" class="panelLink">1. View/Post Compliments</a>
    <br />
    <hr />
    <p><b>Feedback/Complaints</b></p>
    <a href="#home/postFeedback" class="panelLink">1. View/Post Feedback/Complaints</a>
    <br />
    <hr />
</div>

